<div class="card m-2" id="sideNav" th:fragment="leftNavbar">
    <div class="card-content">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a class="nav-link" th:href="@{/user/projects}">项目</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" th:href="@{/user/profile}">个人信息</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" th:href="@{/user/password}">修改个人密码</a>
            </li>
        </ul>
    </div>
</div>