<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>新增项目</title>
</head>

<body>
<nav th:replace="/navbar/navbar::navbar"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="card m-2" id="sideNav">
                <div class="card-content">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a class="nav-link" href="#">项目</a>
                        </li>
                        <li class="list-group-item">
                            <a class="nav-link" href="#">个人信息</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="card m-2">
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="">项目</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">用户名</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">密码</label>
                            <input type="password" class="form-control password">
                        </div>
                        <div class="form-group">
                            <label for="">网址</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Tips:</h5>
                    <h6 class="card-subtitle mb-2 text-muted">请根据以下提示填写</h6>
                    <p class="card-text">
                        1.项目用于填写项目名称，例如：健身app;<br>
                        2.网址是填写该账户需要登录的URL地址，可以是主页或登录页面，也可以为空;<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>
<script>
        $(".password").on("focusin", function () {
            $(this).attr("type", "text");
        }).on("focusout", function () {
            $(this).attr("type", "password");
        });

</script>
</body>

</html>