<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
    <div>
        <form th:action="@{/auth}" th:method="post">
            <div>
                <input type="text" placeholder="账号">
            </div>
            <div>
                <input type="text" placeholder="密码">
            </div>

            <div>
                <button type="submit">登录</button>
            </div>
        </form>
    </div>
</body>
</html>