<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Laurel</title>
</head>

<body>
<header>
    <nav th:replace="/navbar/navbar::navbar"></nav>
</header>

<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 jumbotron-font">存储您的密码</h1>
            <p class="lead jumbotron-font">更加安全，方便地存储密码。</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <img th:src="@{/image/storage_password.png}" class="img-responsive index-image">
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</main>

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>